/* reset.css */
@import "https://unpkg.com/@acab/reset.css";


/* init */
/* 
html {
  overflow-y: scroll;
}
:root {
  overflow-y: auto;
  overflow-x: hidden;
}
:root body {
  position: absolute;
} 
*/

body {
    width: 100%;
    height: 100vh;
    font-family: "Hiragino Sans";
    background: #fff;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    border: none;
}

a:hover,
button:hover {
    opacity: 0.6;
}

ol,
ul {
    padding: 0;
    list-style: none;
}


button:focus {
    outline: 0;
}

img,
svg {
    max-width: 100%;
    height: auto;
    border: 0;
}

.pubCon_90 {
    display: block;
    max-width: 90vw;
    margin: 0 auto;
}

.pubCon_80 {
    display: block;
    max-width: 80vw;
    margin: 0 auto;
}

.pubCon_70 {
    display: block;
    max-width: 70vw;
    margin: 0 auto;
}

.pubCon_60 {
    display: block;
    max-width: 60vw;
    margin: 0 auto;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_between {
    justify-content: space-between;
    align-items: center;
}

.flex_arround {
    justify-content: space-around;
    align-items: center;
}

.flex_evenly {
    justify-content: space-evenly;
    align-items: center;
}

.flex_align_center {
    align-items: center;
}

.flex_align_start {
    align-items: flex-start;
}

.flex_align_end {
    align-items: flex-end;
}

.flex_justify_start {
    justify-content: flex-start;

}

.flex_justify_center {
    justify-content: center;

}

.flex_justify_end {
    justify-content: flex-end;

}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

table {
    border-collapse: none;
    border-spacing: 0;
}
.go_to{
    display: block;
    height: 0;
    visibility: hidden;
}

/* start */
header {
    width: 100%;
    height: 12.08vh;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s;
    padding-top: 2.27vh;
    padding-right: 2.632vw;
}
header .m_icon{
    width: 13.158vw;
    height: 13.158vw;
    padding: 2.632vw;
    background: url(../src/png/m/menu_m.png) no-repeat center;
    margin-left: auto;
    margin-right: 0;
}

.top {
    width: 100%;
    height: 100vh;
    background: url(../src/png/m/top_bg_m.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

.top_content {
    padding-top: 13.6vh;
}

.top_content_text p {
    width: 75vw;
    font-size: clamp(1px, 4.737vw, 18px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bold;
    margin-left: auto;
    margin-right: 0;
}

.top_content img {
    width: 95.789vw;
    position: absolute;
    right: 0;
    bottom: 4.53vh;
    z-index: 10;
}

.kaneda .photo {
    width: 111.842vw;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.top_content_down{
    background-color: #f3fdff;
    height: 66.47vh;
    padding-top: 2.27vh;

}

.top_content_title h1 {
    width: 90%;
    font-size: clamp(1px, 10.526vw, 40px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.top_detail {
    width: 48.421vw;
    height: 48.421vw;
    background: #0780A3;
    border-radius: 100%;
    margin-top: 4.53vh;
}

.top_detail_a {
    font-size: clamp(1px, 5.789vw, 22px);
    color: white;
    line-height: 1.5;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.blog {
    width: 100%;
    background: #f3fdff;
    padding-bottom: 6vh;
}

.section_title {
    width: 50vw;
    height: 9.13vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section_title h1 {
    font-size: clamp(1px,  7.895vw, 30px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bold;
}

.section_title p {
    font-size: clamp(1px, 4.737vw, 18px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bold;
}

.blog_showbox {
    margin-top: 7.55vh;
    width: 100%;
}

.blog_show {
    width: 100%;
}

.blog_imgbox {
    width: 100%;
    overflow: hidden;

}

.blog_show img {
    width: 100%;
    cursor: pointer;
    transition: 0.6s;
}

/* .blog_show img:hover {
    transform: scale(1.1);
} */

/* .blog_show img:hover {
    background-size: cover;
} */
.blog_a_m{
    display: block;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 10vh;

}
.blog_show span {
    font-size: clamp(1px, 4.737vw, 18px);
    line-height: 1.5;
    color: black;
    font-weight: bold;
    display: block;
    margin-top: 1.92vh;
    margin-bottom: 1.92vh;
}

.blog_show p {
    font-size: clamp(1px, 4.211vw, 16px);
    line-height: 1.5;
    color: black;
    font-weight: bold;
}

.blog_btn {
    background-color: #0780A3;
    width: 78.947vw;
    height: 9.06vh;
    margin: 0 auto;
    margin-top: 11.06vh;
    padding-left: 10vw;
    transition: all 0.3s;
    position: relative;
}

.blog_btn_a {
    font-size: clamp(1px, 5.789vw, 22px);
    line-height: 1.5;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog_btn::after {
    content: "";
    position: absolute;
    right: 0.5em;
    top: 45%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 19.474vw;
    height: 1.96vh;
    background-image: url(../src/png/pc/arrow_right.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.blog_btn:hover {
    opacity: 0.8;
}

.blog_btn:hover::after {
    right: 0.5em;
}

.message {
    width: 100%;
    height: 165.87vh;
    padding-top: 14.9vh;
}

.message_content {
    margin-top: 9.62vh;
    margin-bottom: 12.21vh;
}

.message_content p {
    font-size: clamp(1px, 4.737vw, 18px);
    line-height: 2;
    color: black;
    font-weight: bold;
}

.message_content span {
    display: block;
    font-size: clamp(1px, 5.263vw, 20px);
    line-height: 1.5;
    color: black;
    font-weight: bold;
    margin-top: 2.4vw;
}

.policy {
    width: 100%;
    padding-top: 9.23vh;
    padding-bottom: 15vh;
}

.policy_showbox h2 {
    display: block;
    font-size: clamp(1px, 5.526vw, 21px);
    color: #0780A3;
    font-weight: bolder;
    line-height: 1.5;
    margin: 0 auto;
    margin-top: 8vh;

}

.policy_show {
    margin-top: 5.29vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.policy_img1 {
    width: 94.474vw;
}

.policy_img2 {
    width: 87.368vw;
}

.policy_img3 {
    width: 92.368vw;
}

.policy_show ul {
    width: 83.553vw;
    margin: 0 auto;
    padding-top: 6.04vh;
}

.policy_show ul li {
    list-style: disc;
    font-size: clamp(1px, 18px, 18px);
    line-height: 1.5;
    color: black;
    font-weight: bold;
}

.aboutus {
    width: 100%;
    padding-top: 5.77vh;
    padding-bottom: 15vh;
    background-color: #f3fdff;
}

.aboutus_title h1 {
    display: block;
    text-align: center;
    width: 60vw;
    font-size: clamp(1px, 5.526vw, 21px);
    color: #0780A3;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 auto;
}

.aboutus_showbox {
    width: 53.947vw;
    margin: 0 auto;
}

.aboutus_show {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 7.55vh;
}

.aboutus_show h3 {
    display: block;
    font-size: clamp(1px, 8.684vw, 33px);
    color: black;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 6.35vh;
    margin-bottom: 3.37vh;
}

.aboutus_show p {
    font-size: clamp(1px, 4.737vw, 18px);
    color: black;
    font-weight: bold;
    line-height: 1.5;
}

.funclub {
    width: 100%;
    background-color: #0780A3;
    padding-top: 5.77vh;
    padding-bottom: 15vh;

}
.funclub_showbox {
    width: 86.842vw;
    height: 45.32vh;
}
.funclub_showbox h1 {
    display: block;
    font-size: clamp(1px, 9.474vw, 36px);
    color: white;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 auto;

}

.funclub_btn {
    border: 1px solid white;
    width: 78.947vw;
    height: 9.06vh;
    padding-left: 10vw;
    transition: all 0.3s;
    position: relative;
}

.funclub_btn_a {
    margin: 0 auto;
    font-size: clamp(1px, 5.789vw, 22px);
    line-height: 1.5;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.funclub_btn::after {
    content: "";
    position: absolute;
    right: 0.5em;
    top: 45%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 19.474vw;
    height: 1.96vh;
    background-image: url(../src/png/pc/arrow_right.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.funclub_btn:hover {
    opacity: 0.8;
}

.funclub_btn:hover::after {
    right: 0.5em;
}




.funclub_showbox p {
    font-size: clamp(1px,  4.474vw, 17px);
    color: white;
    font-weight: bold;
    line-height: 1.5;
}

.funclub_memberbox {
    width: 88.684vw;
    height: 55.89vh;
    align-items: flex-start;
    border: 1px solid white;
    padding: 3.85vh 0 3.85vh 5.263vw;
    margin: 0 auto;
    margin-top: 6.04vh;
}

.funclub_member {
    margin-bottom: 2.88vh;
}

.funclub_memberbox p {
    font-size: clamp(1px, 3.158vw, 12px);
    color: white;
    font-weight: bold;
    line-height: 1.5;
}

.funclub_memberbox td {
    font-size: clamp(1px, 3.947vw, 15px);
    color: white;
    font-weight: bold;
    line-height: 1.5;
    padding-left: 3.02vw;
}

.bottom {
    width: 100%;
    background-color: #1A2A51;
    padding-top: 5.77vh;
}

.bottom h1 {
    text-align: center;
    display: block;
    font-size: clamp(1px, 13.684vw, 52px);
    color: #EEE93A;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 auto;

}

.bottom_title img {
    margin-top: 4.04vh;
    width: 90vw;
    margin-bottom: 5vh;
}

.bottom_info {
    width: 80vw;
    margin: 0 auto;

}

.bottom_info ul li {
    font-size: clamp(1px, 4.211vw, 16px);
    color: white;
    font-weight: 550;
    line-height: 1.5;
    list-style: disc;
}

.bottom_info p {
    margin-top: 5vh;
    font-size: clamp(1px, 4.211vw, 16px);
    color: white;
    font-weight: 550;
    line-height: 1.5;
    position: relative;
    right: 1.5vw;
}

footer {
    width: 100%;
    background-color: #1A2A51;
    padding-top: 5.77vh;
    padding-bottom: 10vh;
}

.footerer_menu {
    width: 90vw;
}

.footerer_menu a {
    color: white;
    font-size: clamp(1px, 3.158vw, 12px);
    line-height: 1.5;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_sns {
    width:80vw;
    margin-top: 9.06vh;
}

.footer_sns ul {
    height: 100%;
}

.footer_bottom {
    margin-top: 6.04vh;
}

.footer_bottom a {
    color: white;
    font-size: clamp(1px, 3.158vw, 12px);
    line-height: 1.5;
    font-weight: bold;
}

.footer_bottom_p {
    margin: 0 auto;
    margin-top: 3.02vh;
    text-align: center;
    color: white;
    font-size: clamp(1px, 3.158vw, 12px);
    line-height: 1.5;
    font-weight: bold;
}


/* profile */
.profile_top{
    width: 100%;
    height: 145.32vh;
    background: url(../src/png/m/top_bg2_m.jpg) no-repeat bottom;
    padding-top: 15.11vh;
    position: relative;

}
.profile_top_content{
    width: 100%;
}
.profile_top_contentbox{
    margin-top: 5vh;
    height: 60vh;

 }



.profile_top_content_text p {
    font-size: clamp(1px, 5.789vw, 22px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bold;
    margin-left: 2.083vw;
}

.profile_name {
    z-index: 10;

}
.profile_img{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.profile_top_content_title h1 {
    margin: 0 auto;
    font-size: clamp(1px, 11.316vw, 42px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bolder;
}
.profile_message{
    width: 100%;
    background-color: #0780A3;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.section_title2 {
    width: 30vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5vh;
}

.section_title2 h1 {
    font-size: clamp(1px, 7.895vw, 30px);
    line-height: 1.5;
    color: white;
    font-weight: bold;
}

.section_title2 p {
    font-size: clamp(1px, 4.737vw, 18px);
    line-height: 1.5;
    color: white;
    font-weight: bold;
}

.profile_message_content p {
    margin-top: 2.4vw;
    font-size: clamp(1px, 4.737vw, 18px);
    line-height: 2;
    color: white;
    font-weight: bold;
}

.profile_message_content span {
    display: block;
    font-size: clamp(1px, 5.263vw, 20px);
    line-height: 1.5;
    color: white;
    font-weight: bold;
    margin-top: 2.4vw;
}
.profile{
    width: 100%;
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.profile_content{
    margin-top: 10vh;
}
.profile_content img {
    margin-top: 5vh;
    height: 100vw;
}
.profile_info ul{
    padding-top: 1.35vh;
}
.profile_info ul li {
    font-size: clamp(1px, 4.211vw, 16px);
    color: #0780A3;
    font-weight: 550;
    line-height: 1.5;
    list-style: disc;
}

.profile_info p {
    margin-top: 5vh;
    font-size: clamp(1px, 4.211vw, 16px);
    color: #0780A3;
    font-weight: 550;
    line-height: 1.5;
    position: relative;
    right: 1.5vw;
}
.cstyle{
    display: none;
    visibility: hidden;
}
.mstyle{
    display: block;
    visibility: visible;    
}