/* reset.css */
@import "https://unpkg.com/@acab/reset.css";


/* init */

body {
    width: 100%;
    font-family: "Hiragino Sans";
    background: #fff;
    margin: 0;
    padding: 0;
    cursor: default;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
}

a:hover,
button:hover {
    opacity: 0.6;
}

ol,
ul {
    padding: 0;
    list-style: none;
}


button:focus {
    outline: 0;
}

img,
svg {
    /* max-width: 100%; */
    height: auto;
    border: 0;
}

.pubCon {
    display: block;
    max-width: 93.056vw;
    margin: 0 auto;
}

.pubCon_90 {
    display: block;
    max-width: 80vw;
    margin: 0 auto;
}

.pubCon_80 {
    display: block;
    max-width: 80vw;
    margin: 0 auto;
}
.pubCon_80 {
    display: block;
    max-width: 80vw;
    margin: 0 auto;
}

.pubCon_menu {
    display: block;
    max-width: 66.167vw;
    margin: 0 auto;
}

.pubCon_60 {
    display: block;
    max-width: 60vw;
    margin: 0 auto;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_between {
    justify-content: space-between;
    align-items: center;
}

.flex_arround {
    justify-content: space-around;
    align-items: center;
}

.flex_evenly {
    justify-content: space-evenly;
    align-items: center;
}

.flex_align_center {
    align-items: center;
}

.flex_align_start {
    align-items: flex-start;
}

.flex_align_end {
    align-items: flex-end;
}

.flex_justify_start {
    justify-content: flex-start;

}

.flex_justify_center {
    justify-content: center;

}

.flex_justify_end {
    justify-content: flex-end;

}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

table {
    border-collapse: none;
    border-spacing: 0;
}
.go_to{
    display: block;
    height: 0;
    visibility: hidden;
}

/* start */
header {
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0);
    z-index: 100;
    padding: 1.44vh 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s;
}

header .header_menu {
    width: 65vw;
    height: 50px;
    border-right: 1px solid #0780A3;
}

header .header_menu a {
    color: #0780A3;
    font-size: clamp(1px, 1.5vw, 20px);
    line-height: 50px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_menu a:hover{
    background: url(../src/png/pc/point.png) no-repeat bottom;
}

header .header_sns {
    width: 35.972vw;
    height: 50px;
    padding: 0.278vw 0;
}

#sns01 {
    content: url(../src/png/pc/fb.png);
}

#sns02 {
    content: url(../src/png/pc/ins.png);
}

#sns03 {
    content: url(../src/png/pc/tw.png);
}

#sns04 {
    content: url(../src/png/pc/ytb.png);
}

#sns05 {
    content: url(../src/png/pc/line.png);
}

header .header_sns ul {
    height: 50px;
}

header .header_sns ul li {
    line-height: 50px;
    margin-left: 2.083vw;
}

.top {
    width: 100%;
    height: 95vh;
    background: url(../src/png/pc/top_bg.png) no-repeat center center;
    background-size: 100% 100%;
    padding-top: 80px;
    position: relative;
}

.top_content {
    width: 66.667vw;
    margin-right: 0;
    margin-left: auto;
}

.top_content_text p {
    width: 32vw;
    font-size: clamp(1px, 2.083vw, 30px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bold;
    margin-left: auto;
    margin-right: 3.556vw;
}

.top_content img {
    width: 66.667vw;
    margin-bottom:1vw;
    z-index: 10;
}

.top_content_title h1 {
    width: 40vw;
    font-size: clamp(1px, 4.722vw, 68px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bold;
    margin-left: auto;
    margin-right: 14vw;
}

.kaneda .photo {
    width: 44.444vw;
    position: absolute;
    bottom: 0;
    left: 0;
}

.kaneda .logo {
    width: 3.778vw;
    position: absolute;
    bottom: 1.389vw;
    left: 3.819vw;
}

.top_detail {
    width: 12.85vw;
    height: 12.85vw;
    background: #0780A3;
    border-radius: 100%;
    position: absolute;
    right: 5.764vw;
    bottom: -3vw;
    padding: 1.389vw 0;
}

.top_detail_a {
    font-size: clamp(1px, 1.528vw, 22px);
    color: white;
    line-height: 1.5;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.blog {
    width: 100%;
    background: #f3fdff;
    padding-top: 5.556vw;
    padding-bottom: 12.222vw;
}

.section_title {
    width: 10vw;
    height: 6.597vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section_title h1 {
    font-size: clamp(1px, 2.083vw, 30px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bold;
}

.section_title p {
    font-size: clamp(1px, 1.25vw, 18px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bold;
}

.blog_showbox {
    margin-top: 4.861vw;
    width: 100%;
}

.blog_show {
    width: 17.361vw;
}

.blog_imgbox {
    width: 17.361vw;
    height: 17.361vw;
    overflow: hidden;

}

.blog_show img {
    width: 17.361vw;
    height: 17.361vw;
    cursor: pointer;
    transition: 0.6s;
}

.blog_show img:hover {
    transform: scale(1.1);
}

.blog_show img:hover {
    background-size: cover;
}

.blog_show span {
    font-size: clamp(1px, 1.25vw, 18px);
    line-height: 1.5;
    color: black;
    font-weight: bold;
    display: block;
    margin-top: 1.042vw;
    margin-bottom: 1.389vw;
}

.blog_show p {
    font-size: clamp(1px, 1.111VW, 16px);
    line-height: 1.2;
    color: black;
    font-weight: bold;
}

.blog_btn {
    background-color: #0780A3;
    width: 20.833vw;
    height: 4.167vw;
    margin-right: 0;
    margin-left: auto;
    margin-top: 7.639vw;
    padding-left: 2.083vw;
    transition: all 0.3s;
    position: relative;
}

.blog_btn_a {
    font-size: clamp(1px, 1.528vw, 22px);
    line-height: 1.5;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog_btn::after {
    content: "";
    position: absolute;
    right: 1.2em;
    top: 45%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 5.181vw;
    height: 0.903vw;
    background-image: url(../src/png/pc/arrow_right.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.blog_btn:hover {
    opacity: 0.8;
}

.blog_btn:hover::after {
    right: 0.5em;
}

.message {
    width: 100%;
    padding-top: 10.417vw;
    padding-bottom: 8.333vw;
}
.message_imgbox{
    width: 100%;
    text-align: center;
}
.message_imgbox img{
    width: 50vw;
}

.message_content {
    margin-top: 6.944vw;
    margin-bottom: 12.5vw;
    max-width: 93.056vw;
    margin-left: auto;
    margin-right: auto;
}

.message_content p {
    font-size: clamp(1px, 1.32vw, 19px);
    line-height: 2;
    color: black;
    font-weight: bold;
}

.message_content span {
    display: block;
    font-size: clamp(1px, 1.389vw, 20px);
    line-height: 1.5;
    color: black;
    font-weight: bold;
    margin-top: 2.4vw;
}

.policy {
    width: 100%;
    padding-top: 5.556vw;
    padding-bottom: 16.667vw;
}
.policy_showbox{
    margin-top: 11.111vw;
}
.policy_showbox h2 {
    display: block;
    font-size: clamp(1px, 5vw, 72px);
    color: #0780A3;
    font-weight: bold;
    line-height: 1.5;
}

.policy_show {
    margin-top: 4.167vw;
    display: flex;
    align-items: flex-start;

}

.policy_img1 {
    width: 36.458vw;
    padding-bottom: 19.097vw;
}

.policy_img2 {
    width: 32.431vw;
    padding-bottom: 11.806vw;
}

.policy_img3 {
    width: 31.667vw;
}

.policy_show ul {
    margin-left: 5.43vw;
}

.policy_show ul li {
    list-style: disc;
    font-size: clamp(1px, 1.6vw, 23px);
    line-height: 1.5;
    color: black;
    font-weight: bold;
}

.aboutus {
    width: 100%;
    padding-top: 60px;
    background-color: #f3fdff;
    padding-bottom: 8.333vw;
}

.aboutus_title h1 {
    display: block;
    font-size: clamp(1px, 5vw, 72px);
    color: #0780A3;
    font-weight: bold;
    line-height: 1.5;
    padding-bottom: 4.167vw;
}

.aboutus_showbox {
    width: 46.632vw;
    margin-right: 0;
    margin-left: auto;
}

.aboutus_show {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.aboutus_show h3 {
    display: block;
    font-size: clamp(1px, 2.292vw, 33px);
    color: black;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 4.167vw;
    margin-bottom: 2.083vw;
}

.aboutus_show p {
    font-size: clamp(1px, 1.111vw, 16px);
    color: black;
    font-weight: bold;
    line-height: 1.5;
}

.funclub {
    width: 100%;
    background-color: #0780A3;
    padding-top: 3.472vw;
    padding-bottom: 2.083vw;
}

.funclub_showbox h1 {
    display: block;
    font-size: clamp(1px, 5vw, 72px);
    color: white;
    font-weight: bold;
    line-height: 1.5;
}

.funclub_btn {
    border: 1px solid white;
    width: 20.833vw;
    height: 4.167vw;
    padding-left: 2.083vw;
    transition: all 0.3s;
    position: relative;
}

.funclub_btn_a {
    margin: 0 auto;
    font-size: clamp(1px, 1.528vw, 22px);
    line-height: 1.5;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.funclub_btn::after {
    content: "";
    position: absolute;
    right: 1.2em;
    top: 45%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 5.181vw;
    height: 0.903vw;
    background-image: url(../src/png/pc/arrow_right.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.funclub_btn:hover {
    opacity: 0.8;
}

.funclub_btn:hover::after {
    right: 0.5em;
}




.funclub_showbox p {
    font-size: clamp(1px, 1.389vw, 20px);
    color: white;
    font-weight: bold;
    line-height: 1.5;
}

.funclub_memberbox {
    width: 38.47vw;
    align-items: flex-start;
    margin-left:5vw;
    border: 1px solid white;
    padding: 2.778vw 0 0.6vw 4.167vw;
}

.funclub_member {
    margin-bottom: 2.083vw;
}

.funclub_memberbox p {
    font-size: clamp(1px, 1.389vw, 20px);
    color: white;
    font-weight: bold;
    line-height: 1.5;
}

.funclub_memberbox td {
    font-size: clamp(1px, 1.667vw, 24px);
    color: white;
    font-weight: bold;
    line-height: 1.5;
    padding-left: 2.083vw;
}

.bottom {
    width: 100%;
    background-color: #1A2A51;
    padding-top: 3.472vw;
    padding-bottom: 3.472vw;
}

.bottom h1 {
    display: block;
    font-size: clamp(1px, 5vw, 72px);
    color: #EEE93A;
    font-weight: bold;
    line-height: 1.5;

}

.bottom_title img {
    width: 28.333vw;
}

.bottom_info {
    margin-left: 10.069vw;
    width: 48.44vw;
}

.bottom_info ul li {
    font-size: clamp(1px, 1.25vw, 18px);
    color: white;
    font-weight: 550;
    line-height: 1.5;
    list-style: disc;
}

.bottom_info p {
    margin-top: 2.88vh;
    font-size: clamp(1px, 1.25vw, 18px);
    color: white;
    font-weight: 550;
    line-height: 1.5;
    position: relative;
    right: 1.5vw;
}

footer {
    width: 100%;
    background-color: #1A2A51;
    padding: 2.083vw 0;
}

.footerer_menu {
    width: 50vw;
    height: 50%;
    border-right: 1px solid white;
}

.footerer_menu a {
    color: white;
    font-size: clamp(1px, 1.5vw, 20px);
    line-height: 1.5;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_sns {
    width: 20vw;
    height: 50%;
}

.footer_sns ul {
    height: 100%;
}

.footer_bottom {
    width: 70vw;
    margin: 0 auto;
    margin-top: 2.778vw;
    height: 50%;
}

.footer_bottom a {
    color: white;
    font-size: clamp(1px, 1.5vw, 20px);
    line-height: 1.5;
    font-weight: bold;
}

.footer_bottom p {
    color: white;
    font-size: clamp(1px, 1.25vw, 18px);
    line-height: 1.5;
    font-weight: bold;
}


/* profile */
.profile_top{
    width: 100%;
    height: 37.5vw;
    background: url(../src/png/pc/top_bg2.png) no-repeat center;
    background-size: cover;
    padding-top: 80px;
}
.profile_top_content{
    width: 100%;
    height: 31.667vw;
    position: relative;
}
.profile_top_contentbox{
    padding-top: 2.083vw;
    width: 71.278vw;
 }

.profile_top_content_text p {
    width: 32vw;
    font-size: clamp(1px, 2.083vw, 30px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bold;
    margin-left: 2.083vw;
}

.profile_name {
    width: 65vw;
    z-index: 10;
    position: absolute;
    bottom:-2.083vw;
    left: 0;
}
.profile_img{
    height: 32.083vw;
    position: absolute;
    right: 0;
    bottom: 0.347vw;
}

.profile_top_content_title h1 {
    width: 38vw;
    font-size: clamp(1px, 4.722vw, 68px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bolder;
}
.profile_message{
    width: 100%;
    background-color: #0780A3;
    padding-top: 4vw;
    padding-bottom: 2.083vw;
}
.section_title2 {
    width: 10vw;
    height: 6.597vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section_title2 h1 {
    font-size: clamp(1px, 2.083vw, 30px);
    line-height: 1.5;
    color: white;
    font-weight: bold;
}

.section_title2 p {
    font-size: clamp(1px, 1.25vw, 18px);
    line-height: 1.5;
    color: white;
    font-weight: bold;
}


.profile_message_content p {
    margin-top: 2.4vw;
    font-size: clamp(1px, 1.25vw, 18px);
    line-height: 1.5;
    color: white;
    font-weight: bold;
}

.profile_message_content span {
    display: block;
    font-size: clamp(1px, 1.389vw, 20px);
    line-height: 1.5;
    color: white;
    font-weight: bold;
    margin-top: 2.4vw;
}
.profile{
    width: 100%;
    background-color: white;
    padding-top: 5.556vw;
    padding-bottom: 19.444vw;
}
.profile_content{
    margin-top: 6.944vw;
}
.profile_content img {
    width: 31.74vw;
    height: 31.74vw;
}

.profile_info {
    margin-left: 10.069vw;
    height: 31.74vw;
}

.profile_info ul li {
    font-size: clamp(1px, 1.25vw, 18px);
    color: #0780A3;
    font-weight: 550;
    line-height: 1.5;
    list-style: disc;
}

.profile_info p {
    margin-top: 5vh;
    font-size: clamp(1px, 1.25vw, 18px);
    color: #0780A3;
    font-weight: 550;
    line-height: 1.5;
    position: relative;
    right: 1.5vw;
}
.mstyle{
    display: none;
    visibility: hidden;
}
.cstyle{
    display: block;
    visibility: visible;    
}