/* reset.css */
@import "https://unpkg.com/@acab/reset.css";


/* init */
/* 
html {
  overflow-y: scroll;
}
:root {
  overflow-y: auto;
  overflow-x: hidden;
}
:root body {
  position: absolute;
} 
*/

body {
    width: 100vw;
    height: 100vh;
    font-family: "Hiragino Sans";
    background: #fff;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    border: none;
}

a:hover,
button:hover {
    opacity: 0.6;
}

ol,
ul {
    padding: 0;
    list-style: none;
}


button:focus {
    outline: 0;
}

img,
svg {
    max-width: 100%;
    height: auto;
    border: 0;
}

.pubCon_90 {
    display: block;
    max-width: 90vw;
    margin: 0 auto;
}

.pubCon_80 {
    display: block;
    max-width: 80vw;
    margin: 0 auto;
}

.pubCon_70 {
    display: block;
    max-width: 70vw;
    margin: 0 auto;
}

.pubCon_60 {
    display: block;
    max-width: 60vw;
    margin: 0 auto;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_between {
    justify-content: space-between;
    align-items: center;
}

.flex_arround {
    justify-content: space-around;
    align-items: center;
}

.flex_evenly {
    justify-content: space-evenly;
    align-items: center;
}

.flex_align_center {
    align-items: center;
}

.flex_align_start {
    align-items: flex-start;
}

.flex_align_end {
    align-items: flex-end;
}

.flex_justify_start {
    justify-content: flex-start;

}

.flex_justify_center {
    justify-content: center;

}

.flex_justify_end {
    justify-content: flex-end;

}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

table {
    border-collapse: none;
    border-spacing: 0;
}
.go_to{
    display: block;
    height: 0;
    visibility: hidden;
}

/* start */
header {
    width: 100vw;
    height: 7.69vh;
    background: rgba(0, 0, 0, 0);
    z-index: 100;
    padding: 1.44vh 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s;
}

header .header_menu {
    width: 64.028vw;
    height: 100%;
    border-right: 1px solid #0780A3;
}

header .header_menu a {
    color: #0780A3;
    font-size: clamp(1px, 1.5vw, 20px);
    line-height: 1.5;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:1vh;
}
.header_menu a:hover{
    background: url(../src/png/pc/point.png) no-repeat bottom;
}

header .header_sns {
    width: 35.972vw;
    height: 2.88vh;
    padding: 4px 0;
}

#sns01 {
    content: url(../src/png/pc/fb.png);
}

#sns02 {
    content: url(../src/png/pc/ins.png);
}

#sns03 {
    content: url(../src/png/pc/tw.png);
}

#sns04 {
    content: url(../src/png/pc/ytb.png);
}

#sns05 {
    content: url(../src/png/pc/line.png);
}

header .header_sns ul {
    height: 2.02vh;
}

header .header_sns ul li {
    margin-left: 2.083vw;
}

.top {
    width: 100vw;
    height: 95vh;
    background: url(../src/png/pc/top_bg.png) no-repeat center center;
    background-size: cover;
    padding-top: 7.69vh;
    position: relative;
}

.top_content {
    margin-top: 4.62vh;
    width: 67vw;
    margin-right: 0;
    margin-left: auto;
}

.top_content_text p {
    width: 32vw;
    font-size: clamp(1px, 2.083vw, 30px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bold;
    margin-left: auto;
    margin-right: 5.556vw;
}

.top_content img {
    width: 66.389vw;
    margin-bottom: 2.69vh;
    z-index: 10;
}

.top_content_title h1 {
    width: 40vw;
    font-size: clamp(1px, 4.722vw, 68px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bold;
    margin-left: auto;
    margin-right: 14vw;
}

.kaneda .photo {
    width: 56.319vw;
    position: absolute;
    bottom: 0;
    left: 0;
}

.kaneda .logo {
    width: 3.778vw;
    position: absolute;
    bottom: 2.4vh;
    left: 3.819vw;
}

.top_detail {
    width: 12.85vw;
    height: 12.85vw;
    background: #0780A3;
    border-radius: 100vw;
    position: absolute;
    right: 5.764vw;
    bottom: -2.88vh;
    padding: 2.88vh 0;
}

.top_detail_a {
    font-size: clamp(1px, 1.528vw, 22px);
    color: white;
    line-height: 1.5;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.blog {
    width: 100vw;
    height: 93.08vh;
    background: #f3fdff;
    padding-top: 9.21vh;
}

.section_title {
    width: 10vw;
    height: 9.13vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section_title h1 {
    font-size: clamp(1px, 2.083vw, 30px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bold;
}

.section_title p {
    font-size: clamp(1px, 1.25vw, 18px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bold;
}

.blog_showbox {
    margin-top: 5.77vh;
    width: 100%;
}

.blog_show {
    width: 17.361vw;
}

.blog_imgbox {
    width: 17.361vw;
    height: 17.361vw;
    overflow: hidden;

}

.blog_show img {
    width: 17.361vw;
    height: 17.361vw;
    cursor: pointer;
    transition: 0.6s;
}

.blog_show img:hover {
    transform: scale(1.1);
}

.blog_show img:hover {
    background-size: cover;
}

.blog_show span {
    font-size: clamp(1px, 1.25vw, 18px);
    line-height: 1.5;
    color: black;
    font-weight: bold;
    display: block;
    margin-top: 1.92vh;
    margin-bottom: 1.92vh;
}

.blog_show p {
    font-size: clamp(1px, 1.111VW, 16px);
    line-height: 1.2;
    color: black;
    font-weight: bold;
}

.blog_btn {
    background-color: #0780A3;
    width: 20.833vw;
    height: 5.77vh;
    margin-right: 0;
    margin-left: auto;
    margin-top: 11.06vh;
    padding-left: 2.083vw;
    transition: all 0.3s;
    position: relative;
}

.blog_btn_a {
    font-size: clamp(1px, 1.528vw, 22px);
    line-height: 1.5;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog_btn::after {
    content: "";
    position: absolute;
    right: 1.2em;
    top: 45%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 5.181vw;
    height: 1.25vh;
    background-image: url(../src/png/pc/arrow_right.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.blog_btn:hover {
    opacity: 0.8;
}

.blog_btn:hover::after {
    right: 0.5em;
}

.message {
    width: 100vw;
    height: 165.87vh;
    padding-top: 14.9vh;
}

.message_content {
    margin-top: 9.62vh;
    margin-bottom: 12.21vh;
}

.message_content p {
    font-size: clamp(1px, 1.25vw, 18px);
    line-height: 1.5;
    color: black;
    font-weight: bold;
}

.message_content span {
    display: block;
    font-size: clamp(1px, 1.389vw, 20px);
    line-height: 1.5;
    color: black;
    font-weight: bold;
    margin-top: 2.4vw;
}

.policy {
    width: 100vw;
    height: 220vh;
    padding-top: 9.23vh;
}

.policy_showbox h2 {
    display: block;
    font-size: clamp(1px, 5vw, 72px);
    color: #0780A3;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 8vh;
}

.policy_show {
    margin-top: 5.29vh;
    display: flex;
    align-items: flex-start;

}

.policy_img1 {
    width: 36.458vw;
    height: 30.67vh;
}

.policy_img2 {
    width: 32.431vw;
    height: 42.4vh;
}

.policy_img3 {
    width: 31.667vw;
    height: 43.85vh;
}

.policy_show ul {
    margin-left: 5.43vw;
}

.policy_show ul li {
    list-style: disc;
    font-size: clamp(1px, 1.6vw, 23px);
    line-height: 1.5;
    color: black;
    font-weight: bold;
}

.aboutus {
    width: 100vw;
    height: 88.27vh;
    padding-top: 5.77vh;
    background-color: #f3fdff;
}

.aboutus_title h1 {
    display: block;
    font-size: clamp(1px, 5vw, 72px);
    color: #0780A3;
    font-weight: bold;
    line-height: 1.5;
}

.aboutus_showbox {
    width: 46.632vw;
    height: 58.17vh;
    margin-right: 0;
    margin-left: auto;
    margin-top: 5.77vh;
}

.aboutus_show {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.aboutus_show h3 {
    display: block;
    font-size: clamp(1px, 2.292vw, 33px);
    color: black;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 6.35vh;
    margin-bottom: 3.37vh;
}

.aboutus_show p {
    font-size: clamp(1px, 1.111vw, 16px);
    color: black;
    font-weight: bold;
    line-height: 1.5;
}

.funclub {
    width: 100vw;
    height: 66.06vh;
    background-color: #0780A3;
    padding-top: 5.77vh;

}

.fun_clubbox {
    height: 58.46vh;
}

.funclub_showbox h1 {
    display: block;
    font-size: clamp(1px, 5vw, 72px);
    color: white;
    font-weight: bold;
    line-height: 1.5;

}

.funclub_btn {
    border: 1px solid white;
    width: 20.833vw;
    height: 5.77vh;
    padding-left: 2.083vw;
    transition: all 0.3s;
    position: relative;
}

.funclub_btn_a {
    margin: 0 auto;
    font-size: clamp(1px, 1.528vw, 22px);
    line-height: 1.5;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.funclub_btn::after {
    content: "";
    position: absolute;
    right: 1.2em;
    top: 45%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 5.181vw;
    height: 1.25vh;
    background-image: url(../src/png/pc/arrow_right.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.funclub_btn:hover {
    opacity: 0.8;
}

.funclub_btn:hover::after {
    right: 0.5em;
}




.funclub_showbox p {
    font-size: clamp(1px, 1.389vw, 20px);
    color: white;
    font-weight: bold;
    line-height: 1.5;
}

.funclub_memberbox {
    width: 32vw;
    height: 58.46vh;
    align-items: flex-start;
    margin-left: 11.458vw;
    border: 1px solid white;
    padding: 3.85vh 0 3.85vh 3.472vw;
}

.funclub_member {
    margin-bottom: 2.88vh;
}

.funclub_memberbox p {
    font-size: clamp(1px, 1.389vw, 20px);
    color: white;
    font-weight: bold;
    line-height: 1.5;
}

.funclub_memberbox td {
    font-size: clamp(1px, 1.667vw, 24px);
    color: white;
    font-weight: bold;
    line-height: 1.5;
    padding-left: 2.083vw;
}

.bottom {
    width: 100vw;
    height: 55vh;
    background-color: #1A2A51;
    padding-top: 5.77vh;
}

.bottom h1 {
    display: block;
    font-size: clamp(1px, 5vw, 72px);
    color: #EEE93A;
    font-weight: bold;
    line-height: 1.5;

}

.bottom_title img {
    margin-top: 4.04vh;
    width: 28.333vw;
    height: 30.29vh;
}

.bottom_info {
    margin-left: 10.069vw;
    width: 48.333vw;
    height: 42vh;

}

.bottom_info ul li {
    font-size: clamp(1px, 1.25vw, 18px);
    color: white;
    font-weight: 550;
    line-height: 1.5;
    list-style: disc;
}

.bottom_info p {
    margin-top: 5vh;
    font-size: clamp(1px, 1.25vw, 18px);
    color: white;
    font-weight: 550;
    line-height: 1.5;
    position: relative;
    right: 1.5vw;
}

footer {
    width: 100vw;
    height: 12vh;
    background-color: #1A2A51;
    padding: 1vh 0;
}

.footerer_menu {
    width: 50vw;
    height: 50%;
    border-right: 1px solid white;
}

.footerer_menu a {
    color: white;
    font-size: clamp(1px, 1.5vw, 20px);
    line-height: 1.5;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_sns {
    width: 20vw;
    height: 50%;
}

.footer_sns ul {
    height: 100%;
}

.footer_bottom {
    width: 70vw;
    margin: 0 auto;
    height: 50%;
}

.footer_bottom a {
    color: white;
    font-size: clamp(1px, 1.5vw, 20px);
    line-height: 1.5;
    font-weight: bold;
}

.footer_bottom p {
    color: white;
    font-size: clamp(1px, 1.25vw, 18px);
    line-height: 1.5;
    font-weight: bold;
}


/* profile */
.profile_top{
    width: 100vw;
    height: 99vh;
    background: url(../src/png/pc/top_bg2.png) no-repeat;
    padding-top: 6vh;
}
.profile_top_content{
    width: 100vw;
    height: 45vh;
    position: relative;
}
.profile_top_contentbox{
    margin-top: 5vh;
    width: 67vw;
 }



.profile_top_content_text p {
    width: 32vw;
    font-size: clamp(1px, 2.083vw, 30px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bold;
    margin-left: 2.083vw;
}

.profile_name {
    width: 65vw;
    z-index: 10;
    position: absolute;
    bottom:-3vh;
    left: 0;
}
.profile_img{
    height: 50vh;
    position: absolute;
    right: -5vw;
    bottom: 0;
}

.profile_top_content_title h1 {
    width: 38vw;
    font-size: clamp(1px, 4.722vw, 68px);
    line-height: 1.5;
    color: #0780A3;
    font-weight: bolder;
}
.profile_message{
    height: 50vh;
    width: 100vw;
    background-color: #0780A3;
    padding-top: 5.5vh;
}
.section_title2 {
    width: 6.458vw;
    height: 9.13vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section_title2 h1 {
    font-size: clamp(1px, 2.083vw, 30px);
    line-height: 1.5;
    color: white;
    font-weight: bold;
}

.section_title2 p {
    font-size: clamp(1px, 1.25vw, 18px);
    line-height: 1.5;
    color: white;
    font-weight: bold;
}

.profile_message_content p {
    margin-top: 2.4vw;
    font-size: clamp(1px, 1.25vw, 18px);
    line-height: 1.5;
    color: white;
    font-weight: bold;
}

.profile_message_content span {
    display: block;
    font-size: clamp(1px, 1.389vw, 20px);
    line-height: 1.5;
    color: white;
    font-weight: bold;
    margin-top: 2.4vw;
}
.profile{
    height: 98vh;
    width: 100vw;
    background-color: white;
    padding-top: 8vh;
}
.profile_content{
    margin-top: 8vh;
}
.profile_content img {
    width: 31.74vw;
    height: 31.74vw;
}

.profile_info {
    margin-left: 10.069vw;
}
.profile_info ul{
    padding-top: 1.35vh;
}
.profile_info ul li {
    font-size: clamp(1px, 1.25vw, 18px);
    color: #0780A3;
    font-weight: 550;
    line-height: 1.5;
    list-style: disc;
}

.profile_info p {
    margin-top: 5vh;
    font-size: clamp(1px, 1.25vw, 18px);
    color: #0780A3;
    font-weight: 550;
    line-height: 1.5;
    position: relative;
    right: 1.5vw;
}
mstyle{
    display: none;
    visibility: hidden;
}
.cstyle{
    display: block;
    visibility: visible;    
}